<mat-card class="card mat-elevation-z3">
  <!-- Card do texto de cadastro. -->
  <span class="produtos">
    <a>
      Editar Produto
    </a>
  </span>

  <mat-card class="card-cadastro mat-elevation-z8">
      <form class="example-form">
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Id" [(ngModel)]="produto.id_produto"  name="id_produto" disabled>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Nome" [(ngModel)]="produto.nome" name="nome">
          </mat-form-field>
        </div>
        <div cols="4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Preco R$" [(ngModel)]="produto.preco" name="preco" >
          </mat-form-field>
        </div>
        <div cols="4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Codigo do produto" [(ngModel)]="produto.codigoProduto" name="codigoProduto">
          </mat-form-field>
        </div>
        <div cols="4">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Descricao do Produto" [(ngModel)]="produto.descricao" name="descricao">
            </textarea>
            </mat-form-field>
        </div>
      </form>
    <div>
      <button (click)="updateProduct()" class="botao mat-elevation-z4" mat-button >Salvar</button>
      <button routerLink="/produtos-read" class="botao_cancel mat-elevation-z3" mat-button >cancel</button>
    </div>
  </mat-card>

</mat-card>
