
.title {
  font-size: 50pc;
}

/*



style="font-size: 70px; font-family: Oswald sans-serif;font-weight:bold;color:#F4A460;text-align:center;margin-top:20px;margin-bottom:30px" */


.teste {
  font-size: large;
}
