.header{
    display: flex;
    align-items: center;
    background-color: orange;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 60px;
}

.nat {
  align-items: center;
}

.footer {


  margin-top: 0px 0px 0px 0px;
}
