<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <!-- <mat-card-title></mat-card-title> -->
  </mat-card-header>
  <img mat-card-image src="assets/produtos.jpg" alt="Foto de um Produto">
  <mat-card-content>
    <p>
      Natura é uma empresa brasileira que atua no setor de produtos cosméticos.
      Fundada em 1969 por Antônio Luiz Seabra, hoje está presente no Brasil,
      Argentina, Chile, Colômbia, México, Peru, Venezuela, França e Estados Unidos,
      além de outros 63 países indiretamente. O número de funcionários,
      chamados na empresa de "colaboradores", atingiu 7.000 em 2013 e o de consultoras
      estimado em 1,5 milhão.
    </p>
  </mat-card-content>
</mat-card>
